<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Olga Trujillo</h2>
            <h4>olga@trujillo.com</h4>
            <img src="https://scontent.fzcl1-1.fna.fbcdn.net/v/t1.0-9/102417178_2632443226978620_6469193350274934096_n.jpg?_nc_cat=103&_nc_sid=09cbfe&_nc_eui2=AeF6YWMUZpRsNqXlKi-L4uakioYdeyvhIMuKhh17K-Egy7EJYWoAic1v8HyJOYk_WObH-auM_pB70dPTP0GZkgco&_nc_oc=AQn94Bia_W41XnRejTgIg0DZRiDDumgQUmllJJnkbnagF-cKKjC_3_CQXZKJAeSKyuQ&_nc_ht=scontent.fzcl1-1.fna&oh=b366be446f33fbf6580bd6802c7ef1db&oe=5F1FD94B" alt="Olga Trujillo">
        </div>
    </div>
    <mat-divider></mat-divider>
    <h2 matSubHeader>Paginas</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articulos">Articulos</a>
    <mat-divider></mat-divider>
    
    <mat-divider></mat-divider>
    
    <h2 matSubHeader>Herramientas</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contactos">
        <mat-icon>import_contacts</mat-icon>
        Contactos
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contactos">
        <mat-icon>contact_phone</mat-icon>
        Telefonos
    </a>

</mat-nav-list>
